@{
    ViewData["Title"] = "Contacto";
}

<div class="container mt-4">
    <h1>Contacto</h1>
    <p>Si tienes alguna pregunta o deseas contactarnos, puedes hacerlo a través de los siguientes medios:</p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email:</strong> jdcruzt@ut.edu.co</li>
        <li class="list-group-item"><strong>Teléfono:</strong> +57 320 9233449</li>
        <li class="list-group-item"><strong>Dirección:</strong> Ibagué, Tolima</li>
        <li class="list-group-item"><strong>Horario de Atención:</strong> Lunes a Viernes de 7:00 AM a 6:00 PM</li>
    </ul>
</div>
