@model Login

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center display-4">Iniciar Sesión</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label fw-bold"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Password" class="form-label fw-bold"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg shadow">Iniciar Sesión</button>
                        </div>

                        <div class="text-center mt-3">
                            <a asp-action="Register" class="btn btn-link">¿No tienes una cuenta? Regístrate aquí</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
