@model Register

@{
    ViewData["Title"] = "Registro";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center display-4">Registro</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group mb-3">
                            <label asp-for="Name" class="form-label fw-bold"></label>
                            <input asp-for="Name" class="form-control form-control-lg" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label fw-bold"></label>
                            <input asp-for="Email" class="form-control form-control-lg" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Password" class="form-label fw-bold"></label>
                            <input asp-for="Password" class="form-control form-control-lg" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="ConfirmPassword" class="form-label fw-bold"></label>
                            <input asp-for="ConfirmPassword" class="form-control form-control-lg" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg px-5 shadow">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
